#div_avatar_3{
    position: relative;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    height: 100%;
    aspect-ratio: 1 / 1;
    z-index: 100;
}
/* --------------------- imagen fondo --------------------- */
#avatar_3_0{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    float: left;
    width: 80%;
    height: 80%;
    z-index: 100;
}
/* --------------------- imagen avatar -------------------- */
#avatar_3_1{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    z-index: 100;
    animation: flotacion 6s linear infinite;
}
/* ----------------------- flotacion ---------------------- */
@keyframes flotacion {
  0% {
    transform: translate(-50%, calc( -51.5% + 0%));
  }
  25% {
     transform: translate(-50%, calc( -51.5% + 2%));
  }
  50% {
      transform: translate(-50%, calc( -51.5% + 3%));
  }
  75% {
    transform: translate(-50%, calc( -51.5% + 1%));
  }
   100% {
      transform: translate(-50%, calc(-51.5% + 0%));
  }
}
/* --------------------- division ojos -------------------- */
#par_de_ojos_b{
  position: absolute;
  left: 51%;
  top:23%;
  width: 10%;
  height: 10%;
  z-index: 100;
  animation: flotacion_ojos 6s linear infinite;
}
#par_de_ojos_f{
  position: absolute;
  left: 0%;
  top:0%;
  width: 100%;
  height: 100%;
  z-index: 100;
}
/* --------------------- flotacion ojos -------------------- */
@keyframes flotacion_ojos {
    0% {
      transform: translate(-50%, calc( -65% + 0%));
    }
    25% {
       transform: translate(-50%, calc( -65% + 20%));
    }
    50% {
        transform: translate(-50%, calc( -65% + 30%));
    }
    75% {
      transform: translate(-50%, calc( -65% + 10%));
    }
     100% {
        transform: translate(-50%, calc(-65% + 0%));
    }
  }
/* ----------------- ojoS derecho izquierdo ---------------- */
 .ojosDI{
    position: absolute;
    top:0%;
    width: 33%;
    height: 100%;
    border-radius: 50%;
    background-color: black;
  }
  #ojoD{left: 0%;}  
  #ojoI{right: 0%;}

  /* --------------------- sombra -------------------- */
#sombra{
  position: absolute;
  left: 50%;
  top: 93%;
  transform: translateX(-50%);
  width: 10%;
  height: 3%;
  z-index: 100;
  border-radius: 50%;
  background-color: black;
  animation: sombra 6s linear infinite;
}
/* ----------------------- flotacion ---------------------- */
@keyframes sombra {
0% {
  width: 10%;
}
25% {
  width: 20%;
}
50% {
  width: 26%;
}
75% {
  width: 16%;
}
 100% {
  width: 10%;
}
}